html {
	font-family: "Helvetica", sans-serif;
}

/* asteriks */

.verified span{
    vertical-align:sub;
}



hr {
	display: black;
	border-style:  dashed;
	margin-left: 15%;
	margin-right: 15%;
	}

p.crta{
	text-indent: 10%;
	margin-bottom: -1%;
}

p.semester{
	text-indent: 20%;	
	}

p.zapiski {
	font-weight: bold;
text-indent: 20%;
}

img.dashed-line {
	margin-left: 20%;
	height: 0.75%;
}


@media only screen and (max-width:1020px) {

	body {
		margin-top: 5%;
		margin-bottom: 10%;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 200%;
	}

	h2 {
		font-size: 200%;
	}

	nav {
		margin-top: 2.5%;
		margin-bottom: 2.5%;
		padding-bottom: 0%;
		font-weight: bold;
		font-size: 125%;
	}

	a {
		color:black;

	}

	a.menu {

		color:black;
		margin-right: 7.5%;
	}

	p {
		color:black;
		margin-right: 0%
	}

}
@media only screen and (min-width:1020px) {

	body {
		margin-top: 2.5%;
		margin-bottom: 10%;
		margin-left: 26%;
		margin-right: 10%;
		font-size: 200%;
	}

	h2 {
		font-size: 200%;
	}
	nav {
		margin-top: 2.5%;
		margin-bottom: 2.5%;
		padding-bottom: 0%;
		font-weight: bold;
		font-size: 125%;
	}

	a {
		color:black;

	}
	a.menu {

		color:black;
		margin-right: 5%;
	}	

	p {
		color:black;
		margin-right: 0%
	}

}
