div.gallery {
	margin-right: 0%;

}



.column {
	width: 100%;
	padding: 0%;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}












html {
	font-family: "Helvetica", sans-serif;
}

@media only screen and (max-width:1020px) {

	body {
		margin-top: 5%;
		margin-bottom: 5%;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 200%;
	}

	h2 {
		font-size: 200%;
	}

	nav {
		margin-top: 2.5%;
		margin-bottom: 2.5%;

		font-weight: bold;
		font-size: 125%;
	}

	a {
		color:black;


	}

	a.menu {

		color:black;
		margin-right: 1%;
	}

	p {
		color:black;
		margin-right: 0%
	}

	div.gallery img {

		margin-left: 10%;
		width: 100%;
		height: auto;
	}

	div.desc {
		width: 100%;
		margin-left: 10%;
		margin-top: 2%;
		margin-bottom: 5%;
		font-weight: bold;
		font-size: 75%;
		text-align: right;
	}

}
@media only screen and (min-width:1020px) {

	body {
		margin-top: 5%;
		margin-bottom: 5%;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 200%;
	}

	h2 {
		font-size: 200%;
	}
	nav {
		margin-top: 2.5%;
		margin-bottom: 2.5%;

		font-weight: bold;
		font-size: 125%;
	}

	a {
		color:black;


	}

	a.menu {

		color:black;
		margin-right: 1%;
	}

	p {
		color:black;
		margin-right: 0%
	}

	div.gallery img {

		margin-left: 10%;
		width: 80%;
		height: auto;
	}

	div.desc {
		width: 80%;
		margin-left: 10%;
		margin-top: 2%;
		margin-bottom: 5%;
		font-weight: bold;
		font-size: 75%;
		text-align: right;
	}

}
